@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';


body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lora', serif;
    color: #777;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
	color: #f12121;
    margin-bottom: 35px;
    margin-top: 0;
}
h1{
    font-size: 55px;
	letter-spacing: 2px;
}
h2{
	font-size: 42px;
}
h3{
	font-size: 31px;
}
p{
	font-size: 26px;
	font-style: italic;
	color: #bb1111;
	letter-spacing: 2px;
}

.bgimg {
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("../img/bg.jpg");
    height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}
